// @import 'bootstrap/dist/css/bootstrap';

.navbar {
    background: black !important;
}

.navbar-brand {
    font-size: 2rem;
}

.nav-link {
    color: white !important;
}


#logo {

    color: white !important;
}

h1 {
    color: rgb(181, 14, 214);
    font-size: 4rem;
}

.content {
    color: white;
}